body{
    margin: 0;
    padding: 0; 
    background-color: #212355;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

}



/* mobile header */

header{
    padding-top: 1em;
    margin-bottom: 2em;
    display: flex;
    color: white;
    /* background-color: blue; */
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

h1{
    padding: 0;
    margin: 0;
    font-size: 2.3em;
}

.desktopNav{
    display: none;
}


ul{
    /* ADD A HAMBURGER ICON HERE */
    padding: 0;
    list-style-type: none;
    font-size: 1.3em;
    padding: 0 1em;
}

.mobileNav li:first-child{
    margin-bottom: 1em;
}

.mobileNav li{
    /* To overlfow nav and display smoothly instead of wraping text*/
    width: 100px;
}


.mobileNav{

    overflow: hidden;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;


    width: 0px;
    /* width: 150px;  height when hamburger is clicked*/
    display: flex;

    flex-direction: column;
    background: #13153c;
    color: white;
    transition: width 0.5s;

}



.hamburgerIcon div{
    height: 1px;
    width: 30px;
    background-color: white;
    margin-bottom: 0.5em;
    
}


#closeHamburgerBtn{
    width: 40px;
    background: none;
    color: white; 
    border: none;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.newGameNav a{
    text-decoration: none;
    color: white;
}

.newGameNav a:hover{
    text-decoration: none;
    color: #bbb5b5;
}

.restartNav a{
    color: white;
    text-decoration: none;
}
.restartNav a:hover{
    color: #bbb5b5;
}
/* on hover change the with and the display  */






/* center game board */

/* .centerGameBoard{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: blue;
} */

/* mobile game info  */

.gameInfo{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.gameInfo div:first-child{
    padding-right: 1.4em;
}

#playerOneInfo p, #playerTwoInfo p{
    color: #ADADC1;
}

#score p{
    color: white;
}

#score p:first-child{
    margin-right: 1em;
}


/* mobile game board */

.gameBoard{
    background-color: #a4a7ff;
    height: 300px;
    width: 300px;
}

.gameBoardRow{
  display: flex;
  height: 100px;
}

.gameBoardRow div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: 1px solid black;
    font-size: 3em;
    color: #ececec;
}


/* identification for current turn */ 

#playerOneInfo p{

    color: white;
}



/***** you won  screen ****/
.youWonContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}


.youWonContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: rgba(58,70,156, 0.8);

    position: relative;
    border-radius: 5px;

}

.youWonOptions{
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
}

.youWonOptions button{
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    color: white;
    background-color: #6C8AF7;
}






/* - - - - - - - - - player Screen html - - - - - - - - - - - */


.userInputScreenContainer{
    position: absolute;

    top:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerScreenBanner{
    margin-top: 1em;
    color: white;
    text-align: center;
}
form{
    position: relative;
    background-color: #3A469C;
    height: 400px;
    width: 100%;
    max-width: 300px;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #0E99D7;

}

.userInputScreenContainer h2{
    text-align: center;
    color: #FBFDFC;
    margin-bottom: 2em;
}

.userName{
    margin-bottom: 1em;
}

.playerSymbolContainer{
    margin-top: 3em;
    max-width: 184px; /* for aligining x and y symbols on top of radio */
}

.playerSymbolContainer div{
    margin-bottom: 1em;
}

.startGameBtnContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1em;

    display: flex; 
    justify-content: center;
}

.startGameBtnContainer button{
    font-size: 1.1em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: #6c8af7;
    
    color: white;
}

label{
    color: white;
}

.playerSymbols{
    display: flex;
    justify-content: flex-end;
    padding-right: 0.3em;
}

.playerSymbols p{
    margin: 0;
}


.oSymbol{
    padding-left: 1em;
}

.oSymbol, .xSymbol{
    color: white;
}

input[type="radio"]{
    background-color: blue;
    border: none;
}





#playerOneUserSelectedName, #playerTwoUserSelectedName{
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    height: 25px;
    margin-left: 0.6em;
}












@media only screen and (min-width: 500px)
{
    .hamburgerIcon{
        display: none;
    }

    .desktopNav{
        display: block;
    }

    .desktopNav ul li{
        display: inline;
    }

    .desktopNav ul li:first-child{
        margin-right: 1.3em;
    }


    /* - - - - - - - - - player Screen html - - - - - - - - - - - */

}

@media only screen and (min-width: 900px)
{
    .gameBoardRow div:hover{
        background: #878af3;
    }


    /* - - - - - - - - - player Screen html - - - - - - - - - - - */

}

