body{
    margin: 0;
    padding: 0; 
    background-color: #212355;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

}



/* mobile header */

header{
    padding-top: 1em;
    margin-bottom: 2em;
    display: flex;
    color: white;
    /* background-color: blue; */
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

h1{
    padding: 0;
    margin: 0;
    font-size: 2.3em;
}


ul{
    /* ADD A HAMBURGER ICON HERE */
    padding: 0;
    list-style-type: none;
    font-size: 1.3em;
    padding: 0 1em;
}

li:first-child{
    margin-bottom: 1em;
}

li{
    /* To overlfow nav and display smoothly instead of wraping text*/
    width: 100px;
}


nav{

    overflow: hidden;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;


    width: 0px;
    /* width: 150px;  height when hamburger is clicked*/
    display: flex;

    flex-direction: column;
    background: #13153c;
    color: white;
    transition: width 0.5s;

}






.hamburgerIcon div{
    height: 1px;
    width: 30px;
    background-color: white;
    margin-bottom: 0.5em;
    
}


#closeHamburgerBtn{
    width: 40px;
    background: none;
    color: white; 
    border: none;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* on hover change the with and the display  */






/* center game board */

/* .centerGameBoard{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: blue;
} */

/* mobile game info  */

.gameInfo{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.gameInfo div:first-child{
    padding-right: 1.4em;
}

#playerOneInfo p, #playerTwoInfo p{
    color: #ADADC1;
}

#score p{
    color: white;
}

#score p:first-child{
    margin-right: 1em;
}


/* mobile game board */

.gameBoard{
    background-color: #a4a7ff;
    height: 300px;
    width: 300px;
}

.gameBoardRow{
  display: flex;
  height: 100px;
}

.gameBoardRow div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: 1px solid black;
    font-size: 3em;
    color: #ececec;
}


/* identification for current turn */ 

#playerOneInfo p{

    color: white;
}